.container {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #228be6;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
}

.buttonGroup {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  background-color: #228be6;
  color: white;
  &:hover {
    background-color: #1c7ed6;
  }
}
